body{
    margin: 0 !important;
    width: 100%;
}

.unfilled{
    color: #82ab68 !important;
}

.Header{
    color:white; 
    text-align: center; 
    width: 100%; 
    padding-bottom: 2em;
    padding-top: 2em;
    margin-bottom: 0em;
}

.Header h1{
    font-size: 3em;
}

.TextBox{
    float: left;
    color:white;
    text-align: left; 
    width: calc(80% - 4em); 
    margin-left: 10%;
    margin-right: 10%;
    margin-top:0;
    background-color: rgba(0, 0, 0, 0.2);
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 0.5em;
    margin-bottom: 0.5em;
}

.TextBox h4{
    margin-bottom: 1em;    
}

#countdown, #countdowntitle{
    font-size: 5em;
    color: white;
    float: left;
    width: 100%;
    text-align: center;
    height: fit-content;
    margin:auto;
}

#countdowntitle{
    font-size: 3em;
    margin-bottom: 0.5em;
}

.countdownwrapper{
  height: 10em;
  padding-top: 20em;
  padding-bottom: 20em;
  justify-content: center;
  float: left;
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 1em;
  margin-bottom: 2.5em;
  width: 100%;
  -moz-box-shadow:    
        inset 0px 11px 8px -10px #000,
        inset 0px -11px 8px -10px #000; 
  -webkit-box-shadow: 
        inset 0px 11px 8px -10px #000,
        inset 0px -11px 8px -10px #000; 
  box-shadow: 
        inset 0px 11px 8px -10px #000,
        inset 0px -11px 8px -10px #000; 
}

.Footer{
    float: left;
    color:white;
    text-align: center;
    padding-top: 2em;
    width: 100%; 
    margin-top: 2em;
    height: 6em;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 
    inset 0px 11px 8px -10px #000;
}
