.wrapper {
  display: flex;
  height: fit-content;
  justify-content: center;
  float: left;
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
  -moz-box-shadow:    
        inset 0px 11px 8px -10px #000,
        inset 0px -11px 8px -10px #000; 
  -webkit-box-shadow: 
        inset 0px 11px 8px -10px #000,
        inset 0px -11px 8px -10px #000; 
  box-shadow: 
        inset 0px 11px 8px -10px #000,
        inset 0px -11px 8px -10px #000; 

}

.item {
  display: flex;
  flex-direction: row-reverse;
}
.item .tile{
  padding: 10px;
  padding-left: 10px;
  padding-right: 20px;
  margin: 0;
  background-color: #82ab68;
  color: #1f151a;
  border-radius: 0.2em;
  width: 10em;
}
.item .tile .name{
  margin: 0;
  font-size: 1.15em;
  font-weight: 500;
}
.item .tile p{
  margin: 0;
}
.item-parent {
  position: relative;
  margin-left: 50px;
  display: flex;
  align-items: center;
}
.item-parent:after {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  left: 0;
  top: 50%;
  background-color: #569c3a;
  transform: translateX(-100%);
}
.item-childrens {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.item-child {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}
.item-child:before {
  content: "";
  position: absolute;
  background-color: #569c3a;
  right: 0;
  top: 50%;
  transform: translateX(100%);
  width: 25px;
  height: 2px;
}
.item-child:after {
  content: "";
  position: absolute;
  background-color: #569c3a;
  right: -25px;
  height: calc(50% + 22px);
  width: 2px;
  top: 50%;
}
.item-child:last-child:after {
  transform: translateY(-100%);
}
.item-child:only-child:after {
  display: none;
}
